<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Squabble</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth/login">Login</a>
        </li>
      </ul>


      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">Profile</a>
          </li>
        </ul>
      </div>

      <!--
      <div *ngIf="isIncomingCall == false || isIncomingCall == true"></div>
        <div class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <div class="dropdown">
                <button (click)="displayDropdown()" class="dropbtn">NEW CALL!</button>
                <div class="dropdown-content">
                  <a href="#" id="accept">Accept Call</a>
                  <a href="#" id="reject">Reject Call</a>
                </div>
              </div>
              <select>
              </select>
            </li>
          </ul>
        </div>
        -->

    </div>
  </div>
</nav>
