<h1>Squabble</h1>

<div class=sign-in-box>
  <h2>Reset Password</h2>

  <h3>Take me back to <a id="sign-up-link" routerLink="/">login?</a></h3>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input id="username" type="text" class="form-control form-control-md" formControlName="username" [readOnly]="showSecurityQuestions" required>

      <div *ngIf="username.invalid && (username.dirty || username.touched)" class="invalid-feedback d-block">
        <div *ngIf="username.errors?.required">
          Name is required.
        </div>
      </div>
    </div>

    <a *ngIf="!showSecurityQuestions && !isProcessingRequest" class="btn btn-primary mt-3" (click)="getSecurityQuestions()">Fetch security questions...</a>

    <div *ngIf="showSecurityQuestions">
      <div class="mb-3">
        <label for="password" class="form-label">Password </label>
        <input id="password" type="password" class="form-control form-control-md" formControlName="password">

        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback d-block">
          <div *ngIf="password.errors?.required">
            Password is required.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="confirm-password" class="form-label">Confirm Password</label>
        <input id="confirm-password" type="password" class="form-control" formControlName="confirmPassword">

        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="invalid-feedback d-block">
          <div *ngIf="confirmPassword.errors?.required">
            Password confirmation is required.
          </div>
        </div>
      </div>

      <div *ngIf="password.dirty || password.touched" class="invalid-feedback d-block">
        <div *ngIf="confirmPassword.dirty || confirmPassword.touched">
          <div *ngIf="resetPasswordForm.errors?.passwordMatchFailed">
            Passwords must match.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="sec-question-one" class="form-label">{{ securityQuestionOne }}</label>
        <input id="sec-question-one" type="text" class="form-control form-control-md" formControlName="securityAnswerOne">
      </div>

      <div class="mb-3">
        <label for="sec-question-two" class="form-label">{{ securityQuestionTwo }}</label>
        <input id="sec-question-two" type="text" class="form-control form-control-md" formControlName="securityAnswerTwo">
      </div>

      <div class="invalid-feedback d-block">
        <div *ngIf="resetPasswordForm.errors?.apiError">
          {{ apiErrorMessage }}
        </div>
      </div>
    </div>

    <button *ngIf="showSecurityQuestions && !isProcessingRequest" class="btn btn-primary mt-3" type="submit" [disabled]="!resetPasswordForm.valid">Reset Password</button>
    <button *ngIf="isProcessingRequest" class="btn btn-primary mt-3" type="submit" disabled><fa-icon [icon]="faSpinner" [pulse]="true" class="mt-3"></fa-icon></button>
  </form>
</div>

<app-blocks-background id=blocks1></app-blocks-background>
<app-blocks-background id=blocks2></app-blocks-background>
