* {
    color: #535353;
}

.initials {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: lightblue;
    border-radius: 20px;
    text-align: center;
    padding: 9px;
    color: #fff;
}

.contact-row {
    cursor: pointer;
    width: 350px;
    height: 60px;
    position: relative;
    margin-left: 25px;
}

#contact-list{
    background-color: #fff;
    width: 400px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    height: 85%;
    overflow: auto;
    overflow-y: scroll;
}

#buttons{
    position: absolute;
    right: 0;
    top: 5px;
}
