<h5 class="text-black">Remove User from Channel #{{ data.channelId }}</h5>
<p></p>
<mat-dialog-content [formGroup]="findUserByUsernameForm">
  <mat-dialog-content>
    <input class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Search " formControlName="username" style="color:black;">
  </mat-dialog-content>

  <div class="text-center pt-5">
    <button class="mat-raised-button"  (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="removeUser()">Remove</button>
  </div>
</mat-dialog-content>
